/*
 * Customization Variables
 */

$dark-accent: #001900;
$mid-accent: #006600;
$light-accent: #00B200;
$superlight-accent: #ceffce;
$image-size: 240px;
$icon-size: 50px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
